@use 'mixins' as *;
@use "variables" as *;

.about-container {
    background-color: $primaryColor;
    height: 800px;
    padding-bottom: 15vh;

    @include tablet {
      padding-bottom: 20px; 
      height: 650px;
  }

    @include desktop {
        padding-bottom: 20px; 
        height: 650px;
    }

    @include  desktop-large {
      padding-bottom: 20px;
      height: 950px;
  }

    .header-title {
        display: flex;
        justify-content: center;
        padding: 90px 0 10px 0;

        @include tablet{
          padding: 20px 0 10px 0;
        }

        @include desktop-large{
        padding: 90px 0 10px 0;
      }
    }


    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet{
            flex-direction: row;
            justify-content: space-around;
        }

        .portrait-container {
            background-color: $secondaryColor;   
            width: 90vw;
            padding-top: 15px;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            @include tablet {
              align-items: flex-start;
              padding-top: 0px;
              width: 350px;
              height: 480px;
            }


            @include desktop {
              width: 400px;
              height: 530px;
            }

            @include desktop-large{
              width: 550px;
              height: 680px;
          }
  

        .img-container {
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            width: 200px;
            height: 200px;
            border-radius: 50%;  
            overflow: hidden;
            
            @include tablet {
              width: 230px;
              height: 230px;
            }

            @include desktop {
                margin-top: -10px;
                margin-bottom: 20px;
                width: 300px;
                height: 300px;
            }

            @include desktop-large {
              margin-top: -10px;
              margin-bottom: 20px;
              width: 400px;
              height: 400px;
          }

            .portrait {
                margin-top: 43%;
                max-width: 100%;
                max-height: 180%;
          
            }
        }
           

            .contact-text {
                margin-left: 20px;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $tertiaryColor;

                @include tablet {
                  margin-left: 40px;
                }

                @include desktop {
                  margin-left: 70px;
                }
                
                &:hover {
                    color: $tertiaryHoverColor;
                
                    .info {
                      color: $tertiaryHoverColor;
                    }

                    svg {
                        color: $tertiaryHoverColor;
                      }
                    }

                    .contact-symbol {
                        color: $tertiaryColor;

                        .contact-icon {
                          background-color: $tertiaryColor;
                        }
                    }

                    .phone-icon, .mail-icon {
                      color: $tertiaryColor; 
                        width: 25px;
                        height: 25px;
                      

                       @include tablet {
                            width: 25px;
                            height: 25px;
                          }
                          @include desktop-large {
                            width: 40px;
                            height: 40px;
                          }
                    
                      &:hover {
                        color: $tertiaryHoverColor; 
                      }
                    }
    
                .info {
                    margin-left: 20px;
                    text-decoration: none;
                    color: $tertiaryColor;  
                }
            }
    }


        .about-me-container {
            display: flex;
            flex-direction: column;
            max-width: 80vw;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            .about-me-hello {
                color: $quaternaryColor;
                margin-top: -480px;
                margin-bottom: -25px;

                @include tablet {
                  margin: 0;
                }
            }

            .about-me-frontend {
                color: $quaternaryColor;
                margin-bottom: 30px;

                .highlight {
                    font-weight: 600;
                    color: $tertiaryColor;
                }
            }

            @include tablet {
                max-width: 40vw;
                margin-left: 10px;
                margin-right: 0;
                text-align: left;
            }

            .about-me-title {
                margin: 30px 0 460px;
                font-weight: normal;
                color: $tertiaryColor;
                @include tablet {
                    margin: 30px 0 30px;
                }
            }

            .about-me-text {
                color: $quaternaryColor;
                margin-bottom: 25px;
                margin-left: 20px;
                margin-right: 20px;

                @include tablet {
                    margin-bottom: 60px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }

            .download-link {
                display: inline-flex; 
                align-items: center;
                justify-content: center;
                font-size: 1em;
                text-align: center;
                text-decoration: none;
                border-radius: 10px;
                padding: 17px;
                width: 100px;
                height: 17px;
       
                transition: background-color 0.3s ease, color 0.3s ease;
              
                @include tablet {
                  font-size: 1.2em;
                  width: 110px;
                  height: 22px; 
                  margin-top: -30px;
                }
                
                @include desktop {
                  font-size: 1.4em;
                  width: 180px;
                  height: 25px; 
                }
              
                &:hover {
                  opacity: 0.8; 
                }
              }

            .cv-link {
                background-color: $tertiaryColor; 
                color: $primaryColor;
                
                &:hover {
                  background-color: $tertiaryHoverColor;
                }
              }

              .contact-link {
                margin-left: 30px;
                background-color: $secondaryColor;      
                color: $tertiaryColor;
                
                &:hover {
                  background-color: $primaryHoverColor;
                }
            }


            .scroll-down-arrow {
                position: absolute;
                bottom: -70px;
                right: 250px;
            }
        }    
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 22px; 
    margin: 30px;
    padding: 40px;
    background-color: $secondaryColor; 
    border-radius: 10px;

    @include tablet {
      margin: 30px;
    }

    @include desktop {
      margin: 40px;
    }

    .contact-name-email {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .form-group {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        input,
        textarea {
          width: 20vw;

          @include tablet {
            width: 24vw;
          }
        }
      }
  
      &:nth-of-type(3),
      &:nth-of-type(4) {
        input,
        textarea {
          width: 55vw;
        }
      }
  
      input,
      textarea {
        background-color: $primaryColor; 
        color: $tertiaryColor; 
        border: 1px solid $secondaryColor;
        border-radius: 5px;
        padding: 25px;
        font-size: 1em;

        &::placeholder {
            color: $tertiaryColor; 
            font-size: 1.2em;
          }
  
        &:focus {
          border-color: $tertiaryColor;
          outline: none;
        }
      }
  
      textarea {
        resize: none;
        min-height: 100px; 
      }
    }
  
    .send-button {
      background-color: $tertiaryColor;
      color: $primaryColor; 
      border: none;
      border-radius: 50px;
      padding: 15px 20px;
      font-size: 1.2em;
      height: 60px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      @include tablet {
        height: 70px;
      }
  
      &:hover {
        background-color: $tertiaryHoverColor;
      }
    }
  }