@use 'mixins' as *;
@use "variables" as *;


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 10px 30px; 
   
    @include tablet {
        padding: 15px 80px; 
    }

    @include desktop {
        padding: 20px 100px; 
    }
}

    #banner {
        background-image: url("../assets/banner.gif");
        background-size: cover;
        height: 60vh;
        color: $tertiaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        @include tablet {
            height: 60vw;
        }
     
        @include desktop {
            height: 90vh;
        }
    }

    .header-title {
        font-weight: normal;
        color: $tertiaryColor;
        margin-bottom: 15px;

        @include tablet {
            margin-bottom: 20px;
        };

        @include desktop {
            margin-bottom: 25px;
        };
    }

    .header-subtitle {
        font-weight: normal;
        color: $tertiaryColor;  
        padding-bottom: 8px;

    }
    
article {
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: $tertiaryColor;
    max-width: 100vw;
    min-height: 40vh;
    }

    .heading {
        margin-top: 30px;
        margin-bottom: -20px;
    }

    .expertise-text {
        display: flex;
        padding: 15px 0px;
        flex-direction: column;
        max-width: 100vw;

        .expertise-1, .expertise-2, .expertise-3 {
            padding: 20px;
            width: 80vw;
            height: 150px;
            margin: 20px;
            background-color: $primaryColor;
            box-shadow: 0px 0px 10px $primaryBoxShadowColor;
            border-radius: 10px;
            display: flex;
            align-items: center;

            @include tablet {
                display:block;
                margin: 20px;
                width: 220px;
                height: 300px;
                text-align: center;
            }

            @include desktop {
                display:block;
                margin: 40px;
                width: 300px;
                height: 370px;
              
            }

            @include desktop-large {
              
                margin: 40px;
                width: 370px;
                height: 440px;
            
            }

            .expertise-icon {
                margin: 0px;
                width: 100px;
                height: 70px;
    

                @include tablet {
                    margin: 20px;
                    height: auto;
                    margin-bottom: 20px;
                }

                
                @include desktop {
                    margin: 40px;
                    width: 200px;
                    height: auto;
                    margin-bottom: 30px;
                }
            }

            .expertise-title {
                margin-left: 20px;

                @include tablet {
                    margin-left: 0px;
                }
            }

            .expertise-info {
                margin: 20px;
                color: $quaternaryColor;
             
            }
        }
        
        @include tablet {
            flex-direction: row;
        }
    
    }
  

  .heading {
    font-weight: normal;
  }

