@use 'mixins';

html {
    scroll-behavior: smooth;
  }

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 10px 30px; 
   
    @include mixins.tablet {
        padding: 15px 80px; 
    }

    @include mixins.desktop {
        padding: 20px 100px; 
    }
}

main {
    #banner {
        background-image: url("../assets/banner.gif");
        background-size: cover;
        height: 60vh;
        color: #76697B;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        @include mixins.tablet {
            height: 60vw;
        }
     
        @include mixins.desktop {
            height: 90vh;
        }
    }
    .header-title {
        font-weight: normal;
        color: #76697B;
        font-size: 2.5em;
        padding-bottom: 8px;

        @include mixins.tablet {
            font-size: 3em;
        }

        @include mixins.desktop-large {
            font-size: 3.5em;
        }
    }
    
article {
    background-color: #FFFCF6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 80vw;
    color: #76697B;
    
    @include mixins.desktop {
        height: 50vh;
    }
    }

    .about-text {
        display: flex;
        padding: 20px;
        flex-direction: column;
        .about-1, .about-2 {
            padding: 20px;
        }
        
        @include mixins.desktop {
            flex-direction: row;
        }
    
    }
  }


  //default styling
  .heading {
    font-weight: normal;
    font-size: 2em;
 
    @include mixins.tablet {
        font-size: 3em;
    }

    @include mixins.desktop {
        font-size: 30px;
    }

  }

  p, li {
    font-size: 20px;

    @include mixins.tablet {
        font-size: 1.3em;
    }


    @include mixins.desktop-large {
        font-size: 1.5em;
    }
  }

