@use 'mixins' as *;
@use 'variables' as *;

header {
    background-color: $secondaryColor;
    padding: 25px;
}

#contact {
  
#footerLink {
    color: $tertiaryColor;
    text-decoration: none;
}
}

.navigation {
    display: none;
}

.mobile-navigation {
    display: flex;
    align-items: center;
    padding: 2px;

    #links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        padding: 20px 0;
        right: 0;
        width: 100%;
        background: $quaternaryHoverColor;
    }

    .navLink {
        padding: 10px;
    }

    #contact {
        padding: 10px;
    }
}

.hamburger {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#close {
    position: absolute;
    right: 5px;
}

li {
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: $tertiaryColor;
    display: flex;
    justify-content: center;
    transition: color 0.3s ease;
    position: relative;
}


.navLink.active:after {
    content: ""; 
    position: absolute; 
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 8%; 
    max-width: 100%;
    border-bottom: 2px solid $tertiaryColor; 

    @include tablet {
    content: "";
    position: absolute;
    display: flex;
    bottom: -9px; 
    left: 50%;
    transform: translateX(-50%);
    width: calc(100%); 
    padding: 5px 15px;
    height: 30px; 
    background-color: #ffffff; 
    border-radius: 30px; 
    border-bottom: 0px; 

    }

    @include desktop {
        bottom: -6px; 
        }
    
        @include desktop-large {
            bottom: -1px; 
            }
  }


@include tablet {
  .navText {
    z-index: 1;
  }
}

@include tablet {
    .mobile-navigation {
        display: none;
    }   
    
    .navigation {
        display: flex;
        justify-content: flex-end;
   
    #links {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding-right: 2vw;

        @include tablet {
            margin-left: -30px;
            gap: 30px;
        }

        @include desktop {
            margin-left: -50px;
            gap: 40px;
        }

        .navLink {
            position: relative; 
            text-decoration: none;
            color: $tertiaryColor;
            display: flex;
            justify-content: center;
            transition: color 0.3s ease;
            
            &:hover::after {
                content: "";
                position: absolute;
                display: flex;
                bottom: -9px; 
                left: 50%;
                transform: translateX(-50%);
                width: calc(100%); 
                padding: 5px 15px;
                height: 30px; 
                background-color: #f0f0f0; 
                border-radius: 30px; 
                border-bottom: 0px;  
                transition: all 0.3s ease; 
            }
        }
    }
}
} 

