@import '_mixins.scss';

footer {
    background-color: #76697B;

    .footer-content-container {
        @include desktop {
            display: flex;

        }
    }


    .footer-socials {
        padding: 40px;
        display: flex;
        justify-content: center;
 
        a {
            display: flex;
            margin: 1vw;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background-color: #FFFCF6;
            border-radius: 50%;
            color: #5C555F;
            font-size: 1.7rem;

            .socials-icon {
                width: 20px;
                height: 20px;

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }

            @include tablet {
                padding: 20px;  
            }
        } 

        @include desktop {
            justify-content: left;
            margin-left: 10vw;
        }  
    }

    .copyright {
        display: flex;
        justify-content: center;
        background-color: #5C555F;
        padding: 20px;
        color: #AFA7B2;

        @include desktop {
          padding: 30px;
      } 
    }

    .tablet-and-above {
        display: none;
      }

      @include desktop {
        .tablet-and-above {
          display: block;
        }
    }   

    .figure-container {
        position: relative;
        left: -21vw;
        bottom: -170px;

 
      }

.figure-img {
  position: absolute;
    width: 200px;
    height: 200px;

   
    }

     .quote-container {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        right: 0;
      }

      .quote-title {
        font-size: 27px;
        margin-left: -5vw;
        margin-top: 7vh;
        margin-bottom: 2vh;
        color: white;
      }
      
      .quote {
        position: relative;
        background-color: white;
        padding: 15px;
        color: #76697B;
        border-radius: 45px;
        margin-left: 19vw; 
        margin-right: 3vw; 
      }

      .footer-socials a {
        @include desktop {
        margin: 90px 10px;
        }
      }
      
      .quote-content {
        padding: 10px;
        width: 36vw;
        line-height: 24px;
        font-size: 15px;

      }
      
      .quote-triangle {
        position: absolute;
        width: 5px;
        height: 30px;
        border-left: 9px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        bottom: 11px;
        left: 1px;
      }
}