@import '_mixins.scss';

.background-container {
  background-image: url("../assets/banner.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1; 
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0; 
}

.gallery-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 80px 0;
  width: 85vw;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9vh 0 5vh 0;

  @include desktop {
    padding: 9vh 0 5vh 0;
  }

  .filter-container {
    margin: 30px 0;
    background-color: #E3DCEF;
    text-align: center;
    padding: 15px;
    border-radius: 40px;

    .filter-button {
      margin: 0 10px;
      padding: 10px 20px;
      background-color: #E3DCEF;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      transition: background-color 0.3s;
      font-size: 1.5em;
      color: #76697B;

      &.active {
        background-color: #76697B;
        color: white;
      }

      &:hover {
        background-color: #B9A5D5;
      }
    }
  }

  .gallery-subheading {
    color: #76697B;
    padding-top: 5px;

    @include desktop {
      font-size: 1.3em;
    }
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4vh;

  @include desktop {
    justify-content: space-around;
    padding-bottom: 10vh;
  }

  .box-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
  }

  .box {
    background-color: #ffffff;
    border-radius: 10px;
    width: 500px;
    height: auto;
    margin: 20px;
    box-shadow: rgba(61, 59, 59, 0.2) 0px 0px 10px;

    @include desktop {
      width: 350px;
      height: auto;
    }

    @include desktop-large {
      width: 400px;
      height: auto;
    }

    .box-a {
      text-decoration: none;
    }

    .box-content {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .image-container {
      position: relative;
      overflow: hidden;
      width: 100%;
    }

    .box-image {
      background-color: #76697B;
      width: 100%;
      height: 290px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transition: transform 0.3s ease-in-out;

      @include desktop {
        height: 210px;
      }

      @include desktop-large {
        height: 230px;
      }
    }

    .box-text-container {
      padding: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;

    .box-title {
      color: #76697B;
      font-size: 1.5em;
      font-weight: bold;
    }

    .box-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 3px;
      gap: 10px;
      font-size: 1.2em;
      padding: 20px;

      .category-bubble {
        background-color: #9E8BA6;
        color: #ffffff;
        padding: 10px 15px;
        margin-bottom: -10px;
        border-radius: 30px;
        font-size: 0.7em;
        display: inline-block;
      }
     }
   }

   .box-text-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(189, 170, 220, 0.7);
    transition: top 0.3s ease-in-out;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
 }

 .box-content.hovered .box-text-overlay {
  top: 0;
}
}
