@import '_mixins.scss';


.gallery-container {
    background-color: #FFFCF6;
    height: 100%;

.gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9vh 0 5vh 0;

    @include desktop {
        padding: 9vh 0 5vh 0;
    }

    .gallery-subheading {
        color: #76697B;
        padding-top: 5px;
     
        @include desktop {
            font-size: 1.3em;
        }
    }
}




.projects-container {
    display: flex;
    justify-content: center;
    padding-bottom: 4vh;

    @include desktop {
        justify-content: space-around;
        padding-bottom: 10vh; 
    }


.box-container {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
  }
  
  .box {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 100vw;
    margin: 4vh 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   

    @include desktop {
        width: 25vw;
        height: 35vw;
        margin: 2vh;
    }

    .box-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .box-image {
        background-color: #76697B;
        width: 100%;
        height: 27vh;
    }

    .box-title {
        color: #76697B;
        padding: 4vh 0 2vh 0; 
        font-size: 2em;
        font-weight: normal;
    }

    .box-text {
        color: #76697B;
        font-size: 1.2em;
    }
  }
}
}