@use "mixins" as *;
@use "variables" as *;
@use "aboutPage" as *;
@use "footer" as *;
@use "galleryPage" as *;
@use "homePage" as *;
@use "navbar" as *;
@use "section" as *;
@use "selectLanguage" as *;

* {
    margin: 0;
    font-family: "League Spartan";
}

p, li {
    font-size: 20px;

    @include tablet {
        font-size: 1.3em;
    }


    @include desktop-large {
        font-size: 1.5em;
    }
  }

  h1 {
    font-size: 3em;

    @include tablet {
        font-size: 4em;
    }

    @include desktop-large {
        font-size: 5em;
    }
}

h2 {
    font-size: 2.5em;
 
    @include tablet {
        font-size: 3em;
    }
    
    @include desktop {
        font-size: 3.5em;
    } 
}

