@import '_mixins.scss';

header {
    background-color: #E3DCEF;
    padding: 25px;
}

#contact {
  
#footerLink {
    color: #76697B;
    text-decoration: none;
}
}

.navigation {
    display: none;
}

.mobile-navigation {
    display: flex;
    align-items: center;
    padding: 2px;

    #links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        padding: 20px 0;
        right: 0;
        width: 100%;
        background:#EDE8F5;
    }

    .navLink {
        padding: 10px;
    }

    #contact {
        padding: 10px;
    }
}

.hamburger {
    position: absolute;
    right: 3%;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: #76697B;
    display: flex;
    justify-content: center;
    transition: color 0.3s ease;
    position: relative;
}


.navLink.active:after {
    content: ""; 
    position: absolute; 
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 8%; 
    max-width: 100%;
    border-bottom: 2px solid #76697B; 
  }


@include tablet {
.navLink.active:after {
    content: ""; 
    position: absolute; 
    bottom: -6px; 
    left: 0;
    transform: translateX(0%);
    width: 100%; 
    border-bottom: 2px solid #76697B; 
  }
}


@include tablet {
    .mobile-navigation {
        display: none;
    }   
    
    .navigation {
        display: flex;
        justify-content: flex-end;
   
    #links {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding-right: 2vw;
    }
}
} 

