@import '_mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }



.image-container {
    img {
        width: 100vw;
        margin-bottom: -6px;
        @include desktop {
            width: 40vw;
            height: auto;
         
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 90vw;
    color: #76697B;
    padding: 20px;

    @include desktop {
        width: 60vw;
        display: flex;
        align-items: flex-start;
        text-align: left;
        height: auto;
        padding: 0 100px;
        flex-direction: column;
    }

    #section-text {
    padding:  30px 0;
    }

    .dot-list {
        list-style: none; 
        padding: 0 20px; 
        margin-bottom: 25px;
      }
      .dot-list li {
        margin-bottom: 5px;
      }
      .dot {
        width: 8px; 
        height: 8px;
        background-color: #76697B;
        border-radius: 50%; 
        display: inline-block;
        margin-right: 10px; 
        margin-bottom: 2px; 
      }


    }
    #shortcuts {
        background-color: #76697B;
        border-radius: 5px;
        width: 120px;
        padding: 12px 22px;
        font-size: 1.2em;
        text-align: center;

        @include tablet {
            padding: 20px 20px;
            font-size: 1.4em;
            width: 200px;
        }

        @include desktop {
            padding: 20px 30px;
            font-size: 1.4em;
            width: 140px;
        }
        
       
        

  
        #footerLink {
            color: #ffffff;
            text-decoration: none;
        }
}

#section-container1 {
    background-color: #E3DCEF;
}

#section-container2 {
    background-color: #FFFCF6;
}
}

#container2 {
    flex-direction: column-reverse;

    @include desktop {
        flex-direction: row;

    }
}

