@import '_mixins.scss';

.container {
    display: flex;
    flex-direction: column;

    @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


.image-container {
    img {
        width: 100vw;
        @include tablet {
            width: 40vw;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    color: #76697B;
    padding: 10vw;

    @include tablet {
        width: 60vw;
    }

    h3 {
        font-size: 3rem;
        font-weight: normal;
    }
    #section-text {
    padding-top: 30px;
    padding-bottom: 30px;
    }
}

#section-container1 {
    background-color: #E3DCEF;
}

#section-container2 {
    background-color: #FFFCF6;
}

}